/*My Custom css*/
:root {
    --clr-aqua-100: #00fffb;
    --clr-aqua-90: rgba(0, 255, 251, 0.9);
    --clr-aqua-60: rgba(0, 255, 251, 0.6);
    --clr-gray-100: gray;
    --clr-gray-60: rgba(128, 128, 128, 0.6);
    --clr-white-100: white;
    --clr-white-90: rgba(255, 255, 255, 0.9);
    --clr-white-80: rgba(255, 255, 255, 0.8);
    --clr-black-100: rgba(0, 0, 0, 1);
}

body {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1.3;
}

.bg-aqua {
    background-color: var(--clr-aqua-100);
}

.bg-aqua-90 {
    background-color: var(--clr-aqua-90);
}

.bg-white {
    background-color: var(--clr-white-100);
}

.bg-white-90 {
    background-color: var(--clr-white-90);
}

.bg-white-80 {
    background-color: var(--clr-white-80);
}

.bg-gray {
    background-color: var(--clr-gray-100);
}

.bg-gray-60 {
    background-color: var(--clr-gray-60);
}

.text-aqua {
    color: var(--clr-aqua-100);
}

.text-white {
    color: var(--clr-white-100);
}

.text-white-90 {
    color: var(--clr-white-90);
}

.text-white-80 {
    color: var(--clr-white-80);
}

.text-gray {
    color: var(--clr-gray-100);
}

nav {
    opacity: .75 !important;
}

.nav-scrolled {
    opacity: 1 !important;
    border-bottom: 2px solid var(--clr-gray-100) !important;
    box-shadow: 0 0 4px var(--clr-gray-100) !important;
    background-image: linear-gradient(to bottom right, gray, aqua, white) !important;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: var(--clr-gray-100) !important;
    font-weight: bolder !important;
}

    .nav-link:hover {
        color: var(--clr-white-100) !important;
    }

#hamburger {
    color: var(--clr-white-100);
}

span.navbar-toggler {
    border: 2px solid var(--clr-white-100) !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

#navInputText {
    background-color: transparent !important;
    color: var(--clr-white-100);
    border: none;
}

.hero {
    padding-top: 6.25rem;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-aqua-60);
    position: relative;
}

    .hero #heroContainer {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
    }

    .hero img#light {
        position: absolute;
        top: 0%;
        right: 3.125rem;
        bottom: 30%;
        height: 300px;
        width: 250px;
        opacity: .8;
        z-index: 1;
    }

    .hero img#sofa {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 450px;
        opacity: .8;
        z-index: 1;
    }

#constructionTitle {
    position: absolute;
    top: 25%;
    left: 10%;
    color: var(--clr-white-100);
    border-top: 5px solid var(--clr-gray-100);
}

#serviceTitle {
    position: absolute;
    top: 32%;
    left: 13%;
    color: var(--clr-gray-100);
    letter-spacing: .25rem;
    border-bottom: 5px solid var(--clr-white-100);
}

.hero #ctaBtn {
    position: absolute;
    bottom: 20%;
    border: 2px solid var(--clr-white-100);
    background-image: linear-gradient(120deg, gray, black);
    color: var(--clr-aqua-100);
    box-shadow: 0 0 6px var(--clr-white-100);
}

    .hero #ctaBtn:hover {
        background-image: linear-gradient(45deg, aqua, white);
        color: var(--clr-gray-100);
        border: 2px solid var(--clr-aqua-100);
        box-shadow: 0 0 6px var(--clr-aqua-100);
    }

.hero-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 30;
}

.hero-footer-scrolled {
}

.service {
    padding-top: 5rem;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#serviceBoxContainer {
    position: relative;
}

.serviceBoxOverlay {
    position: absolute;
    background-color: var(--clr-aqua-100);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: animation 350ms ease-in-out;
    z-index: 20;
}

.overlay-header {
    position: relative;
}

    .overlay-header button {
        position: absolute;
        z-index: 1;
        top: 0.3125rem;
        right: 0.3125rem;
    }

.show-serviceOverlay {
    animation: startToEnd 350ms ease forwards;
}

.hide-serviceOverlay {
    animation: startToEnd_Exit 350ms ease forwards;
}

.service-title {
    color: var(--clr-aqua-100);
}

#serviceList {
    align-self: center;
    list-style: none;
    margin: 0 !important;
}

.box-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.ctaService {
    color: var(--clr-aqua-100);
}

    .ctaService:hover {
        color: var(--clr-white-100);
    }

        .ctaService:hover > i {
            filter: drop-shadow(0 0 2px var(--clr-white-100));
        }

@media screen and (max-width: 576px) {
    /*Small View*/
    .service-title {
        transform: scale(1.2);
    }

    #heroContainer {
        align-items: center !important;
        justify-content: flex-start !important;
        padding-top: 50%;
    }

    .hero #constructionTitle, .hero #serviceTitle,
    .hero #ctaBtn {
        top: 0;
        left: 0;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .hero #ctaBtn {
        bottom: 40%;
    }
}

@keyframes startToEnd {
    from {
        visibility: hidden;
        width: 0%;
    }

    50% {
        visibility: visible;
        opacity: .90;
    }

    to {
        visibility: visible;
        opacity: 1;
        width: 100%;
    }
}

@keyframes startToEnd_Exit {
    from {
        margin-left: 0%;
        width: 100%;
        visibility: visible;
    }

    50% {
        opacity: .9;
        visibility: visible;
    }

    to {
        margin-left: 100%;
        width: 300%;
        visibility: hidden;
    }
}