@{
    ViewData["Title"] = "Administrator | Hopestone Construction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Administrator Page</h4>
<a class="m-5 py-5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
<a class="m-5 py-5" asp-area="" asp-controller="Product" asp-action="Index">Product Page</a>